.container__characters {
  padding: 16px;

  /* border: solid red; */
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 450px) {
  .container__main{
    width: 100vw;
    padding: 8px;
  }  
}